<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.genesys.appchofer"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@layout/network_security_config"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".layout.BaseScannerActivity"></activity>
        <activity android:name=".layout.LectorCodigoBarras" />
        <activity android:name=".layout.pre_ingreso">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.VariablesAPIGoogle" />
        <activity android:name=".layout.SINC_API" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".wifi.WiFiDirectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".layout.WIFIDirect" />
        <activity
            android:name=".layout.ingreso_patente"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".gui.AboutActivity"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />
        <activity
            android:name=".gui.ManageUsersActivity"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppThemeDark" />
        <activity android:name=".gui.iniciarFTP" /> <!-- SERVICIOS AGREGADOS PARA FTP -->
        <service android:name=".FsService" />
        <service android:name=".NsdService" />
        <service android:name=".AutoConnect$BackgroundService" />
        <service android:name=".AutoConnect$StartServerService" />
        <service android:name=".AutoConnect$StopServerService" /> <!-- SERVICIOS AGREGADOS PARA FTP -->
        <service android:name=".gui.FsWidgetProvider$UpdateService" /> <!-- Tasker/Locale integration -->
        <activity
            android:name=".locale.EditActivity"
            android:exported="true"
            android:icon="@drawable/widget_on"
            android:label="@string/swiftp_name"
            android:theme="@style/AppThemeDark"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize">

            <!-- this Intent filter allows the plug-in to be discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".locale.FireReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gui.FsTileService"
            android:icon="@mipmap/ic_qs_ftp_server"
            android:label="@string/swiftp_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".utilities.ServicioGPS" /> <!-- <service android:name=".utilities.ServicioGPS" /> -->
        <service
            android:name=".wifi.FileTransferService"
            android:enabled="true" />
        <service
            android:name=".wifi.WiFiClientIPTransferService"
            android:enabled="true" />
    </application>

</manifest>